.profile-container{
    padding: 60px 32px 28px 32px;
    display: flex;
    flex-wrap: wrap;
}

.profile-header{
    flex: 40%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.profile-content{
    flex: 55%;
    padding: 20px;
    text-align: left;
}

.profile-name{
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
}

.profile-country{
    margin-top: 5px;
}

.Action-Button-Light{
    border: 1.5px solid rgb(208, 208, 208);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
}

.round-button{
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    margin: 0px 10px;
}

.account-type{
    font-size: 13px;
    font-weight: 800;
    line-height: 16px;
    color: rgb(77,66,199);
    background-color: rgb(236,237,249);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}

@media screen and (max-width: 740px) {
    .account-type, .Action-Button-Light{
        margin-top: 10px;
    }
}

@media screen and (max-width: 465px) {
    .profile-header{
        text-align: left;
        justify-content: flex-start;
    }

    .profile-content{
        padding: 0px 20px;
    }
}