.name-icon-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    padding: 20px;
    font-size: 50px;
    margin: 20px;
    background-color: #0d0c22;
    color: white;
    border-radius: 50%;
}

.name-icon-dropdown:hover{
    background-color: #565564;
    cursor: pointer;
}