.footer-carousel-container {
    padding-top: 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.footer-carousel-items {
    display: flex; 
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: auto;
    gap: 30px; 
}

.footer-carousel-items:hover {
    scroll-behavior: none;
}

.footer-carousel-items::-webkit-scrollbar {
    display: none;
}

.footer-carousel-card-text{
    margin-top: 12px;
    color: #0d0c22;
    font-size: 14px;
    font-weight: 600;
}

.footer-carousel-card-image img{
    z-index: 3;
    height: 150px;
    width: 200px;
    border-radius: 7px;
    position: relative;
}